body {
    font-family: "Courier New";
    margin: 0;
    color: rgb(232, 235, 236);
}

h1, h2, h3, h4, h5, h6 {
    color: rgb(228, 241, 250)
}

Div {
    background-color: rgba(0,0,0,0);
    border-radius: 20px;
}


.main-div {
    background-color: #121212;
    border-radius: 0;
}

.header-div {
    border-radius: 0;
    display: flex;
    border-top: 20px solid rgb(15, 15, 15);
    background-color: rgb(43, 33, 53);
}

.bar-select-div {
    display: flex;
    height: 50px;
}

.full-bar-div {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(45, 45, 45);
}

.country-div {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: rgb(45, 45, 45);
}

.cases-line-div { 
    /* width: 60%; */
    background-color: rgb(60, 60, 60);
    margin: 20px;
    padding: 20px;
}
.cases-line-div2 {
    width: 60%;
    background-color: rgb(60, 60, 60);
    margin: 20px;
    padding: 20px;
}

.pie-div {
    width: 40%;
    background-color: rgb(60, 60, 60);
    margin: 20px;
    padding: 20px;
}
/* 
.rc-slider{
    width: 500%;
    margin: 0px;
} */

.rc-slider-track {
    background-color: rgb(140, 126, 155);
  }
  
  .rc-slider-dot-active {  
    border: solid 2px rgb(43, 33, 53);
  }
  
  .rc-slider-handle {
    background-color: rgb(232, 235, 236);
    border: solid 3px rgb(58, 23, 99)
  }
  
  .rc-slider-handle:hover {
    border-color: #432d77;
  }
  .rc-slider-mark-text {
      color: rgb(232, 235, 236)
  }
  .rc-slider-handle:focus {
    border-color: rgb(134, 4, 167);
  }

  #country-pie .legend .traces .legendtoggle {
    display: none;
 }
 /* just for presentation: shows the default cursor insted of the text cursor */
 #country-pie .legend .traces .legendtext {
    cursor: default;
 }

 /* #overview-graph .js-plotly-plot .plotly .cursor-pointer {
    cursor: auto;
} */
